# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore logs and database files
*.log
*.db
*.sqlite3

# Ignore hidden system files (Mac & Windows)
.DS_Store
Thumbs.db
